<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/css/cssWebAppLogIn/WebAppLogin.css">
    <link rel="stylesheet" href="../../static/css/cssWebAppLogIn/csseigen.css">
    <title>InlogPagina</title>

</head>
<body>
<nav class="nav navbar navbar-expand-md navbar-dark">
    <a class="navbar-brand" href="#">
        <img class="rounded" src="../img/logo.PNG" height="100" width="100"/>

    </a>

    <button class="navbar-toggler" type="button"
            data-toggle="collapse"
            data-target="#navbarDeWebAppVideos"
            aria-controls="navbarDeWebAppVideos" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarDeWebAppVideos">
        <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" href="index.html"><i class="fas fa-home fa-3x"></i><span
                    class="sr-only">(huidig)</span></a>
            <a class="nav-item nav-link" href="Demol.html.html"><i class="fas fa-tv fa-3x"></i></a>
            <a class="nav-item nav-link" href="game.html"><i class="fas fa-gamepad fa-3x"></i></a>
            <a class="nav-item nav-link" href="login.html"><i class="fas fa-sign-out-alt fa-3x"></i></a>

        </div>

    </div>
</nav>
</body>
</html>