<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RegisterPagina</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../static/css/cssWebAppLogIn/bootstrap.css">
    <link rel="stylesheet" href="../../static/css/cssWebAppLogIn/csseigen.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <script src="../../js/jquery-3.2.1.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="index.html">
        <img class="img-fluid" src="../../static/img/logo_Transparant.png" alt="logo"/>
    </a>


    <h1 class="HoofdTitel">Account Aanmaken</h1>
</nav>

<div class="container-fluid">



</div>

</body>
</html>