<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>De Mol</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/csseigen.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>


</head>
<body>
<a name="top"></a>
<!--content here-->


<nav class="nav navbar navbar-expand-md navbar-dark">
    <a class="navbar-brand" href="#">
        <img class="rounded" src="../img/logo.PNG" height="100" width="100"/>

    </a>

    <button class="navbar-toggler" type="button"
            data-toggle="collapse"
            data-target="#navbarDeWebAppVideos"
            aria-controls="navbarDeWebAppVideos" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarDeWebAppVideos">
        <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" href="index.html"><i class="fas fa-home fa-3x"></i><span
                    class="sr-only">(huidig)</span></a>
            <a class="nav-item nav-link" href="game.html"><i class="fas fa-gamepad fa-3x"></i></a>
            <a class="nav-item nav-link" href="Demol.html.html"><i class="fas fa-tv fa-3x"></i></a>
            <a class="nav-item nav-link" href="login.html"><i class="fas fa-sign-out-alt fa-3x"></i></a>

        </div>

    </div>
</nav>


<div class="container-fluid">

<!--    <div class="inhoudPagina pt-5 pb-5">-->

<!--        <div class="row">-->
<!--            <div class="col-md text-center">-->

<!--                <h1>Nut van de spelletje's</h1>-->
<!--                <br>-->
<!--                <p> ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type-->
<!--                    specimen book.-->
<!--                    It has survived not only five centuries, but also the leap into electronic typesetting</p>-->

<!--            </div>-->
<!--        </div>-->

<!--    </div>-->



    <div class="demolvideos pt-5 pb-5">

        <div class="row">
            <div class="col-md text-center">
                <h1>De Mol</h1>


            </div>
        </div>


        <div class="row">
            <div class="col-md text-center mt-3">
                <img class="img-fluid rounded" src="../img/Demol.PNG"/>
            </div>
        </div>


        <div class="row">
            <div class="col-md text-center">
                <ul class="mt-3">
                    <li>
                        1: Naam Spel 1
                    </li>

                    <li>
                        2: Naam Spel 2
                    </li>

                    <li>
                        3: Naam Spel 3
                    </li>

                </ul>

            </div>
        </div>

    </div>


    <div class="demolvideo1 pt-5 pb-5">

        <div class="row">
            <div class="col-md text-center mb-3">
                <h3>De titel van spel 1</h3>
            </div>
        </div>

        <div class="row ">
            <div class="col-md text-center">

                <img class="img-fluid" src="../img/maxresdefault.jpg"/>

            </div>
        </div>

    </div>

    <div class="demolvideo2 pt-5 pb-5">

        <div class="row">
            <div class="col-md text-center mb-3">
                <h3>De titel van spel 2</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md text-center">
                <img class="img-fluid" src="../img/maxresdefault.jpg"/>
            </div>
        </div>

    </div>


    <div class="demolvideo3 pt-5 pb-5">

        <div class="row">
            <div class="col-md text-center mb-3">
                <h3>De titel van spel 3</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md text-center">
                <img class="img-fluid" src="../img/maxresdefault.jpg"/>
                <br>
                <br>
                <a href="#top"><i class="fas fa-arrow-up fa-2x"></i></a>


            </div>
        </div>

    </div>


</div>

<div class="footer text-center text-warning">
    <footer>© Knus Knus 2020
    </footer>
</div>

<!-- ******************* -->
<!-- Scripts -->
<!-- ******************* -->
<script src="../js/jquery-3.2.1.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script>

</script>

</body>
</html>