<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">-->
<head>
    <meta charset="UTF-8">
    <title>De Mol</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" th:href="@{/css/cssVideoGames/csseigen.css}" href="/css/cssVideoGames/csseigen.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>



</head>
<body>
<a name="top"></a>
<!--content here-->


<nav class="nav navbar navbar-expand-md navbar-dark">
    <a class="navbar-brand" href="#">
        <img class="rounded" src="/img/logo.PNG" height="100" width="100"/>

    </a>

    <button class="navbar-toggler" type="button"
            data-toggle="collapse"
            data-target="#navbarDeWebAppVideos"
            aria-controls="navbarDeWebAppVideos" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarDeWebAppVideos">
        <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" href="index.html"><i class="fas fa-home fa-3x"></i><span
                    class="sr-only">(huidig)</span></a>
            <a class="nav-item nav-link" href="Demol.html.html"><i class="fas fa-tv fa-3x"></i></a>
            <a class="nav-item nav-link" href="game.html"><i class="fas fa-gamepad fa-3x"></i></a>
            <a class="nav-item nav-link" href="login.html"><i class="fas fa-sign-out-alt fa-3x"></i></a>

        </div>

    </div>
</nav>


<div class="container-fluid">





    <div class="demolvideos pt-5 pb-5">

        <div class="row">
            <div class="col-md text-center">
                <h1 class="titels">De Mol</h1>


            </div>
        </div>


        <div class="row">
            <div class="col-md text-center mt-3">
                <img class="img-fluid rounded" src="/img/Demol.PNG"/>
            </div>
        </div>



    </div>


    <div class="demolvideo1 pt-5 pb-5">

        <div class="row">
            <div class="col-md text-center mb-3">
                <h3 th:text="${videos[0].name}"> titel video</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md text-center">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/e-xxPuSzC2I" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>

            </div>
        </div>

    </div>

    <div class="demolvideo2 pt-5 pb-5">

        <div class="row">
            <div class="col-md text-center mb-3">
                <h3 th:text="${videos[1].name}"> titel video</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md text-center">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/e-xxPuSzC2I" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>

            </div>
        </div>

    </div>


    <div class="demolvideo3 pt-5 pb-5">

        <div class="row">
            <div class="col-md text-center mb-3">
                <h3 th:text="${videos[2].name}"> titel video</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md text-center">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/e-xxPuSzC2I" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                <br>
                <br>
                <a href="#top"><i class="fas fa-arrow-up fa-2x"></i></a>


            </div>
        </div>

    </div>


</div>

<div class="footer text-center text-warning">
    <footer>© Knus Knus 2020
    </footer>
</div>

<!-- ******************* -->
<!-- Scripts -->
<!-- ******************* -->
<script src="../js/jquery-3.2.1.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script>

</script>

</body>
</html>