.container-fluid{
    min-width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;

}


ul {
    list-style-type: none;
}

div.inhoudPagina {
    background-color: rgb(234, 214, 128);
}

nav {
    background-color: rgba(106, 151, 186,1);
}

div.demolvideos {
    background-color: rgb(245, 236, 199);
}

div.demolvideo1 {
    background-color: rgb(234, 214, 128);
}

div.demolvideo2 {
    background-color: rgba(106, 151, 186,1);
}

div.demolvideo3 {
    background-color: rgb(245, 236, 199);
}

div.footer {
    background-color: rgba(106, 151, 186,1);
    padding: 20px;
    color: #efc700;
    font-family: "Trebuchet MS";
    font-size: 12px;
}

.m-links {
    margin-left: 27%;
}

p.porbleemopgelost {
    position: relative;
    top: -100px;
}

.img-small {
    max-width: 140px;
}

iframe {
    max-width: 70%;
}