.whiteText{
    color: white;
}

.deck-bg{
    background-color: #E5D06C;
}
.blue-bg{
    background-color: #7195b8;
}
.btn-layout{
    color: #E5D06C;
}

.fa-twitter:hover {
    opacity: 0.7;
    text-decoration: none;
    color: white;
}
.fa-facebook:hover {
    opacity: 0.7;
    text-decoration: none;
    color: white;
}

.fa-facebook {
    background: #3B5998;
    color: white;
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

li{
    text-decoration: none;
    list-style-type: none;
}

.card-deck1{
    height: 90vh;
}

.deck-layout {
    padding: 12vh 21vh 32vh;
}
.deck-layout2 {
    padding-top: 5%;
    padding-bottom: 10%;
}

.footH{
    height: 8.5vh;
}

.panel-title {
    display: inline;font-weight: bold;
}
.checkbox.pull-right {
    margin: 0;
}
.pl-ziro {
    padding-left: 0;
}
.no-space{
    padding: 0;
    margin: 0;
}

/*extraWi geeft extra breedte want anders kwam het p element naast het h5 element*/
.extraWi{
    width: 800px;
}