<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../static/css/cssWebshop/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/cssWebshop/csseigen.css">
    <script src="../../js/jquery-3.2.1.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/popper.min.js"></script>
</head>
<body>
<div class="jumbotron-fluid">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="index.html">
            <img class="img-fluid" src="../../static/img/logo_Transparant.png" alt="logo"/>
        </a>

        <button class="navbar-toggler" type="button"
                data-toggle="collapse"
                data-target="#navbarKnus"
                aria-controls="navbarKnus" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarKnus">
            <ul class="nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#"><h4 class="whiteText">Home</h4></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><h4 class="whiteText">About</h4></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><h4 class="whiteText">Contact</h4></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><h4 class="whiteText">Login</h4></a>
                </li>
            </ul>
        </div>
    </nav>
</div> <!--working navbar-->

</body>
</html>