<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" href="../../static/css/bootstrap.css">
    <link rel="stylesheet" th:href="@{/css/cssWebshop1.css}" href="../../static/css/cssWebshop1.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
</head>
<body>
<script
        src="https://www.paypal.com/sdk/js?client-id=sb&currency=EUR"> // Required. Replace SB_CLIENT_ID with your sandbox client ID.
</script>
<div class="jumbotron-fluid">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark navH">
        <a class="navbar-brand" href="/">
            <img class="img-fluid" src="/img/logo_Transparant.png" alt="logo"/>
        </a>

        <button class="navbar-toggler" type="button"
                data-toggle="collapse"
                data-target="#navbarKnus"
                aria-controls="navbarKnus" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarKnus">
            <ul class="nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/"><h6 class="whiteText">Home</h6></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about"><h6 class="whiteText">About</h6></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact"><h6 class="whiteText">Contact</h6></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/login"><h6 class="whiteText">Login</h6></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/shoppingcart"><h6 class="whiteText"><i class="fas fa-shopping-cart"></i>
                    </h6></a>
                </li>
            </ul>
        </div>
    </nav>
</div> <!--navbar-->
<div class="container-fluid deck-bg">
    <div class="card-deck card-deck1 deck-layout">
        <div class="card">
            <div class="card-header">
                <h4>Uw producten :</h4>
            </div>
            <div class="card-body">
                <h4 class="card-title text-right">Totaal :<!--javacode --> </h4>
                <ul>
                    <li class="text-center">- knuffel mol
                        <!--dit is een test, hier moet een opspmming komen van gekozen producten--></li>
                </ul>
            </div>
            <div class="card-footer">
                <div id="paymentButtons" class="text-right">

                <script>
                    paypal.Buttons({ createOrder: function(data, actions) {
                            // This function sets up the details of the transaction, including the amount and line item details.
                            return actions.order.create({
                                purchase_units: [{
                                    amount: {
                                        value: '0.01'
                                    }
                                }]
                            });
                        },
                        onApprove: function(data, actions) {
                            // This function captures the funds from the transaction.
                            return actions.order.capture().then(function(details) {
                                // This function shows a transaction success message to your buyer.
                                alert('Transaction completed by ' + details.payer.name.given_name);
                            });
                        }
                    }).render('#paymentButtons');
                </script>

                </div>
            </div>
        </div>
    </div>
</div> <!--webshop-->
<div class="container-fluid">
    <div class="row bg-dark justify-content-center footH">
        <div class="col-md-4 text-center">
            <h6 class="whiteText pt-2">© Copyright 2020 Knùs</h6>
        </div>
    </div>
</div> <!--footer-->
</body>
</html>