<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" href="../../static/css/bootstrap.css">
    <link rel="stylesheet" th:href="@{/css/cssWebshop1.css}" href="../../static/css/cssWebshop1.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
</head>
<body>
<div class="jumbotron-fluid">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="/">
            <img class="img-fluid" src="/img/logo_Transparant.png" alt="logo"/>
        </a>

        <button class="navbar-toggler" type="button"
                data-toggle="collapse"
                data-target="#navbarKnus"
                aria-controls="navbarKnus" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarKnus">
            <ul class="nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/"><h6 class="whiteText">Home</h6></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about"><h6 class="whiteText">About</h6></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact"><h6 class="whiteText">Contact</h6></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/login"><h6 class="whiteText">Login</h6></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/shoppingcart"><h6 class="whiteText"><i class="fas fa-shopping-cart"></i>
                    </h6></a>
                </li>
            </ul>
        </div>
    </nav>
</div> <!--navbar-->
<div class="container-fluid deck-bg">
    <div class="card-deck card-deck1 deck-layout">
        <div class="card">
            <div class="card-header">
                <h4>Uw producten :</h4>
            </div>
            <div class="card-body">
                <h4 class="card-title text-right">Totaal :<!--javacode --> </h4>
                <ul>
                    <li class="text-center">- knuffel mol
                        <!--dit is een test, hier moet een opspmming komen van gekozen producten--></li>
                </ul>
                <p class="card-text text-right">
                    <button type="button" class="btn btn-layout bg-dark" data-toggle="modal"
                            data-target="#mijnModal">Betalen
                    </button>
                </p>


                <div class="modal fade" id="mijnModal">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="container blue-bg">
                                <div class='row'>
                                    <div class='col-md-4'></div>
                                    <div class='col-md-4'>
                                        <script src='https://js.stripe.com/v2/' type='text/javascript'></script>
                                        <div class="modal-header">
                                            <form accept-charset="UTF-8" action="/" class="require-validation"
                                                  data-cc-on-file="false"
                                                  data-stripe-publishable-key="pk_bQQaTxnaZlzv4FnnuZ28LFHccVSaj"
                                                  id="payment-form" method="post">
                                                <div style="margin:0;padding:0;display:inline"><input name="utf8"
                                                                                                      type="hidden"
                                                                                                      value="✓"/><input
                                                        name="_method" type="hidden" value="PUT"/><input
                                                        name="authenticity_token" type="hidden"
                                                        value="qLZ9cScer7ZxqulsUWazw4x3cSEzv899SP/7ThPCOV8="/></div>
                                                <div class='form-row'>
                                                    <div class='col-xs-12 form-group required'>
                                                        <label class='control-label'>Name on Card</label>
                                                        <input class='form-control' size='4' type='text'>
                                                    </div>
                                                </div>
                                                <div class='form-row'>
                                                    <div class='col-xs-12 form-group card required'>
                                                        <label class='control-label'>Card Number</label>
                                                        <input autocomplete='off' class='form-control card-number'
                                                               size='20' type='text'>
                                                    </div>
                                                </div>
                                                <div class='form-row'>
                                                    <div class='col-xs-4 form-group cvc required'>
                                                        <label class='control-label'>CVC</label>
                                                        <input autocomplete='off' class='form-control card-cvc'
                                                               placeholder='ex. 311' size='4' type='text'>
                                                    </div>
                                                    <div class='col-xs-4 form-group expiration required'>
                                                        <label class='control-label'>Expiration</label>
                                                        <input class='form-control card-expiry-month' placeholder='MM'
                                                               size='2' type='text'>
                                                    </div>
                                                    <div class='col-xs-4 form-group expiration required'>
                                                        <label class='control-label'> </label>
                                                        <input class='form-control card-expiry-year' placeholder='YYYY'
                                                               size='4' type='text'>
                                                    </div>
                                                </div>
                                                <div class='form-row'>
                                                    <div class='col-md-12'>
                                                        <div class='form-control total btn btn-info'>
                                                            Total:
                                                            <span class='amount'>$300</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class='form-row'>
                                                    <div class='col-md-12 form-group'>
                                                        <button class='form-control btn btn-primary submit-button'
                                                                type='submit'>Pay »
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class='form-row'>
                                                    <div class='col-md-12 error form-group hide'>
                                                        <div class='alert-danger alert'>
                                                            Please correct the errors and try again.
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close
                                            </button>
                                        </div>
                                    </div>
                                    <div class='col-md-4'></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div> <!--webshop-->
<div class="container-fluid">
    <div class="row bg-dark justify-content-center footH">
        <div class="col-md-4 text-center">
            <h6 class="whiteText pt-4 mt-2">© Copyright 2020 Knùs</h6>
        </div>
    </div>
</div> <!--footer-->
</body>
</html>