<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MolHome</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" href="../../static/css/bootstrap.css">
    <link rel="stylesheet" th:href="@{/css/cssWebApp1.css}" href="../../static/css/cssWebApp1.css">
</head>
<body>

<a name="top"></a>
<nav class="nav navbar navbar-expand-md navbar-dark">
    <a class="navbar-brand" href="#">
        <img class="rounded" src="/img/logo.PNG" height="100" width="100"/>
    </a>

    <button class="navbar-toggler" type="button"
            data-toggle="collapse"
            data-target="#navbarDeWebAppVideos"
            aria-controls="navbarDeWebAppVideos" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarDeWebAppVideos">
        <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" href="/user/molHome"><i class="fas fa-home fa-3x"></i></a>
            <a class="nav-item nav-link" href="/VideoPage"><i class="fas fa-tv fa-3x"></i></a>
            <a class="nav-item nav-link" href="/GamePage"><i class="fas fa-gamepad fa-3x"></i></a>
            <a class="nav-item nav-link" href="/user/logout"><i class="fas fa-sign-out-alt fa-3x"></i></a>
        </div>
    </div>
</nav>


<div class="container-fluid">

    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col">
                    <h4 class="bubbleText">Hier kan je alle <br> nieuwtjes
                        terugvinden!</h4>
                </div>
            </div>
            <div class="row">
                <div class="col text-lg-center">
                    <img class="img-fluid pb-5 mb-5" src="/img/knuffel_mol.png"/>
                </div>
            </div>
        </div>
        <div class="col-md-6 ">
            <div class="row">
                <div class="col m-5 text-lg-center">
                    <button type="button" class="btn buttons"><h4>Berichtjes</h4></button>
                </div>
            </div>
            <div class="row">
                <div class="col m-5 text-lg-center">
                    <button type="button" class="btn buttons"><a href="/GamePage">  <h4>Knús games</h4></a></button>
                </div>
            </div>
            <div class="row">
                <div class="col m-5 text-lg-center">
                    <button type="button" class="btn buttons"><a href="/VideoPage">  <h4>Knús TV</h4></a></button>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center footer">
        <div class="col-md-4 text-center">
            <h6 class="text-white pt-2">© Copyright 2020 Knùs</h6>
        </div>
    </div>
</div>

<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

</body>
</html>